/* Reset */
.modernSkin table, .modernSkin tbody, .modernSkin a, .modernSkin img, .modernSkin tr, .modernSkin div, .modernSkin td, .modernSkin iframe, .modernSkin span, .modernSkin *, .modernSkin .mceText {border:0; margin:0; padding:0; white-space:nowrap; text-decoration:none; font-weight:normal; cursor:default; vertical-align:baseline; width:auto; border-collapse:separate;}
.modernSkin a:hover, .modernSkin a:link, .modernSkin a:visited, .modernSkin a:active {text-decoration:none; font-weight:normal; cursor:default;}
.modernSkin table td {vertical-align:middle}

/* Containers */
.modernSkin table {  }
.modernSkin iframe {display:block;}
.modernSkin .mceToolbar {padding: 2px;}

.modernSkin tr.mceFirst td.mceToolbar {border-width: 0 0 1px;border-style: none none solid;}

/* External */
.modernSkin .mceExternalToolbar {position:absolute; border-bottom:0; display:none}
.modernSkin .mceExternalToolbar td.mceToolbar {padding-right:13px;}
.modernSkin .mceExternalClose {position:absolute; top:3px; right:3px; width:7px; height:7px; background:url(../../img/icons.gif) -820px 0}

/* Layout */
.modernSkin table.mceToolbar, .modernSkin tr.mceFirst .mceToolbar tr td, .modernSkin tr.mceLast .mceToolbar tr td {border:0; margin:0; padding:0}
.modernSkin table.mceLayout {border:0;border-style: solid;border:1px solid #e5e5e5; border-collapse: separate; -moz-border-radius: 6px 6px 0 0; -webkit-border-top-right-radius: 6px; -webkit-border-top-left-radius: 6px; -khtml-border-top-right-radius: 6px; -khtml-border-top-left-radius: 6px; border-top-right-radius: 6px; border-top-left-radius: 6px;}
.modernSkin .mceIframeContainer {}
.modernSkin .mceStatusbar {display: block;font-family: 'MS Sans Serif',sans-serif,Verdana,Arial;font-size: 9pt;line-height: 16px;overflow: visible;height: 20px;border-top-width: 1px;}
.modernSkin .mceStatusbar * {font-size:10px; line-height:16px; }
.modernSkin .mceStatusbar div {float:left; padding:2px;}
.modernSkin .mceStatusbar a.mceResize {display: block;float: right;background: url(img/resize.gif) no-repeat 9px 9px;width: 20px;height: 20px;cursor: se-resize}
.modernSkin .mceStatusbar a:hover {text-decoration:underline}
.modernSkin table.mceToolbar {margin: 0 2px 2px;}
.modernSkin #content_toolbar1 {margin-top: 2px;}
.modernSkin .mceToolbar .mceToolbarEndListBox span {display:none}
.modernSkin span.mceIcon, .modernSkin img.mceIcon {display:block; width:20px; height:20px}
.modernSkin .mceIcon {background:url(../../img/icons.gif) no-repeat 20px 20px}

/* Button */
.modernSkin .mceButton {display:block; width: 20px; height: 20px; cursor: default; padding: 1px 2px; margin: 1px; background-image: url(img/butt2.png);background-position: left top;background-repeat: repeat-x;-moz-border-radius: 3px;-webkit-border-radius: 3px;-khtml-border-radius: 3px;border-radius: 3px;}
.modernSkin a.mceButton span, .modernSkin a.mceButton img {}
.modernSkin .mceOldBoxModel a.mceButton span, .modernSkin .mceOldBoxModel a.mceButton img {margin:0 0 0 1px}
.modernSkin a.mceButtonEnabled:hover {background-position:0 -10px;}
.modernSkin a.mceButtonActive, .modernSkin a.mceButtonSelected {background-image: inherit;}
.modernSkin .mceButtonDisabled .mceIcon {opacity:0.3; filter:alpha(opacity=30);}
.modernSkin .mceButtonDisabled {}

/* Separator */
.modernSkin .mceSeparator { height: 24px; width: 1px;display: block;background: transparent;overflow: hidden; margin: 0 2px; }

/* ListBox */
.modernSkin .mceListBox, .modernSkin .mceListBox a {display:block}
.modernSkin .mceListBox .mceText {padding: 1px 2px 1px 5px;text-align:left; text-decoration: none !important;width:70px;  background-image: url(img/butt2.png);background-position: left top;background-repeat: repeat-x;font-family: Tahoma,Verdana,Arial,Helvetica; font-size: 11px; height: 20px; line-height: 20px; overflow: hidden;}
.modernSkin .mceListBox {margin: 1px;direction: ltr;}
.modernSkin .mceListBox .mceOpen {width: 14px;height: 20px; border-collapse: separate;background-image: url(img/butt2.png);background-position: left top;background-repeat: repeat-x;padding: 1px;border-left: 0 none !important;}
.modernSkin .mceListBox .mceOpen span {display: block;width:14px;height:20px;background-image: url(img/down_arrow.gif);background-position: 2px 1px;background-repeat: no-repeat;}
.modernSkin table.mceListBoxEnabled:hover .mceText, 
.modernSkin .mceListBoxHover .mceText, 
.modernSkin .mceListBoxSelected .mceText,
.modernSkin table.mceListBoxEnabled:hover .mceOpen, 
.modernSkin .mceListBoxHover .mceOpen, 
.modernSkin .mceListBoxSelected .mceOpen {background-image: none;}
.modernSkin .mceListBoxDisabled .mceText {color:gray}
.modernSkin .mceListBoxMenu {overflow:auto; overflow-x:hidden}
.modernSkin .mceOldBoxModel .mceListBox .mceText {height:22px}
.modernSkin select.mceListBox {font-family:Tahoma,Verdana,Arial,Helvetica; font-size:12px;}

/* SplitButton */
.modernSkin .mceSplitButton a, .modernSkin .mceSplitButton span {display:block; height:20px}
.modernSkin .mceSplitButton { display:block;margin: 1px;direction: ltr;}
.modernSkin table.mceSplitButton td {padding: 2px;background-image: url(img/butt2.png);background-position: left top;background-repeat: repeat-x;}
.modernSkin .mceSplitButton a.mceAction {height:20px;width:20px;padding: 1px 2px;}
.modernSkin .mceSplitButton span.mceAction {background: url(../../img/icons.gif) 20px 20px;width:20px; }
.modernSkin .mceSplitButton a.mceOpen {width:10px;height:20px;background-image: url(img/down_arrow.gif);background-position: 1px 2px;background-repeat: no-repeat;padding: 1px;border-left: 0 none !important;}
.modernSkin .mceSplitButton span.mceOpen {display:none}
.modernSkin .mceSplitButtonDisabled .mceAction {opacity:0.3; filter:alpha(opacity=30);}
.modernSkin .mceListBox a.mceText, .modernSkin .mceSplitButton a.mceAction {-moz-border-radius-bottomleft: 3px;-webkit-border-bottom-left-radius: 3px;-khtml-border-bottom-left-radius: 3px;border-bottom-left-radius: 3px;-moz-border-radius-topleft: 3px;-webkit-border-top-left-radius: 3px;-khtml-border-top-left-radius: 3px;border-top-left-radius: 3px;}
.modernSkin .mceSplitButton a.mceOpen, .modernSkin .mceListBox a.mceOpen {-moz-border-radius-bottomright: 3px;-webkit-border-bottom-right-radius: 3px;-khtml-border-bottom-right-radius: 3px;border-bottom-right-radius: 3px;-moz-border-radius-topright: 3px;-webkit-border-top-right-radius: 3px;-khtml-border-top-right-radius: 3px;border-top-right-radius: 3px;}

/* ColorSplitButton */
.modernSkin div.mceColorSplitMenu table {}
.modernSkin .mceColorSplitMenu td {padding:2px}
.modernSkin .mceColorSplitMenu a {display:block; width:9px; height:9px; overflow:hidden;}
.modernSkin .mceColorSplitMenu td.mceMoreColors {padding:1px 3px 1px 1px}
.modernSkin .mceColorSplitMenu a.mceMoreColors {width:100%; height:auto; text-align:center; font-family:Tahoma,Verdana,Arial,Helvetica; font-size:11px; line-height:20px;}
.modernSkin .mceColorSplitMenu a.mceMoreColors:hover {}
.modernSkin a.mceMoreColors:hover {}
.modernSkin .mceColorPreview {margin: -4px 0 0 2px; width:16px; height:4px; overflow:hidden}

/* Menu */
.modernSkin .mceMenu {position:absolute; left:0; top:0; z-index:1000;}
.modernSkin .mceNoIcons span.mceIcon {width:0;}
.modernSkin .mceNoIcons a .mceText {padding-left:10px}
.modernSkin .mceMenu table {}
.modernSkin .mceMenu a, .modernSkin .mceMenu span, .modernSkin .mceMenu {display:block}
.modernSkin .mceMenu td {height:20px;overflow:hidden;}
.modernSkin .mceMenu a {position:relative;padding:3px 0 4px 0;text-decoration: none !important;}
.modernSkin .mceMenu .mceText {position:relative; display:block; font-family:Tahoma,Verdana,Arial,Helvetica; cursor:default; margin:0; padding:0 25px;}
.modernSkin .mceMenu span.mceText, .modernSkin .mceMenu .mcePreview {font-size:11px}
.modernSkin .mceMenu pre.mceText {font-family:Monospace}
.modernSkin .mceMenu .mceIcon {position:absolute; top:0; left:0; width:22px;}
.modernSkin .mceMenu .mceMenuItemEnabled a:hover, 
.modernSkin .mceMenu .mceMenuItemActive {}
.modernSkin td.mceMenuItemSeparator {height:1px}
.modernSkin .mceMenuItemTitle a {border-top: 0;border-right: 0;border-left: 0;border-bottom-style: solid;border-bottom-width: 1px;text-decoration: none !important;}
.modernSkin .mceMenuItemTitle span.mceText {font-weight:bold; padding-left:4px}
.modernSkin .mceMenuItemDisabled .mceText {}
.modernSkin .mceMenuItemSelected .mceIcon {background:url(../default/img/menu_check.gif)}
.modernSkin .mceNoIcons .mceMenuItemSelected a {background:url(../default/img/menu_arrow.gif) no-repeat -6px center}
.modernSkin .mceMenu span.mceMenuLine {display:none}
.modernSkin .mceMenuItemSub a {background:url(../default/img/menu_arrow.gif) no-repeat top right;}

/* Progress,Resize */
.modernSkin .mceBlocker {position:absolute; left:0; top:0; z-index:1000; opacity:0.5; filter:alpha(opacity=50); background:#FFF}
.modernSkin .mceProgress {position:absolute; left:0; top:0; z-index:1001; background:url(../default/img/progress.gif) no-repeat; width:32px; height:32px; margin:-16px 0 0 -16px}
.modernSkin .mcePlaceHolder {border:1px dotted gray}

/* Formats */
.modernSkin .mce_formatPreview a {font-size:10px}
.modernSkin .mce_p span.mceText {}
.modernSkin .mce_address span.mceText {font-style:italic}
.modernSkin .mce_pre span.mceText {font-family:monospace}
.modernSkin .mce_h1 span.mceText {font-weight:bolder; font-size: 2em}
.modernSkin .mce_h2 span.mceText {font-weight:bolder; font-size: 1.5em}
.modernSkin .mce_h3 span.mceText {font-weight:bolder; font-size: 1.17em}
.modernSkin .mce_h4 span.mceText {font-weight:bolder; font-size: 1em}
.modernSkin .mce_h5 span.mceText {font-weight:bolder; font-size: .83em}
.modernSkin .mce_h6 span.mceText {font-weight:bolder; font-size: .75em}

/* Theme */
.modernSkin span.mce_bold {background-position:0 0}
.modernSkin span.mce_italic {background-position:-60px 0}
.modernSkin span.mce_underline {background-position:-140px 0}
.modernSkin span.mce_strikethrough {background-position:-120px 0}
.modernSkin span.mce_undo {background-position:-160px 0}
.modernSkin span.mce_redo {background-position:-100px 0}
.modernSkin span.mce_cleanup {background-position:-40px 0}
.modernSkin span.mce_bullist {background-position:-20px 0}
.modernSkin span.mce_numlist {background-position:-80px 0}
.modernSkin span.mce_justifyleft {background-position:-460px 0}
.modernSkin span.mce_justifyright {background-position:-480px 0}
.modernSkin span.mce_justifycenter {background-position:-420px 0}
.modernSkin span.mce_justifyfull {background-position:-440px 0}
.modernSkin span.mce_anchor {background-position:-200px 0}
.modernSkin span.mce_indent {background-position:-400px 0}
.modernSkin span.mce_outdent {background-position:-540px 0}
.modernSkin span.mce_link {background-position:-500px 0}
.modernSkin span.mce_unlink {background-position:-640px 0}
.modernSkin span.mce_sub {background-position:-600px 0}
.modernSkin span.mce_sup {background-position:-620px 0}
.modernSkin span.mce_removeformat {background-position:-580px 0}
.modernSkin span.mce_newdocument {background-position:-520px 0}
.modernSkin span.mce_image {background-position:-380px 0}
.modernSkin span.mce_help {background-position:-340px 0}
.modernSkin span.mce_code {background-position:-260px 0}
.modernSkin span.mce_hr {background-position:-360px 0}
.modernSkin span.mce_visualaid {background-position:-660px 0}
.modernSkin span.mce_charmap {background-position:-240px 0}
.modernSkin span.mce_paste {background-position:-560px 0}
.modernSkin span.mce_copy {background-position:-700px 0}
.modernSkin span.mce_cut {background-position:-680px 0}
.modernSkin span.mce_blockquote {background-position:-220px 0}
.modernSkin .mce_forecolor span.mceAction {background-position:-720px 0}
.modernSkin .mce_backcolor span.mceAction {background-position:-760px 0}
.modernSkin .mce_forecolorpicker {background-position:-720px 0}
.modernSkin .mce_backcolorpicker {background-position:-760px 0}

/* Plugins */
.modernSkin span.mce_advhr {background-position:-0px -20px}
.modernSkin span.mce_ltr {background-position:-20px -20px}
.modernSkin span.mce_rtl {background-position:-40px -20px}
.modernSkin span.mce_emotions {background-position:-60px -20px}
.modernSkin span.mce_fullpage {background-position:-80px -20px}
.modernSkin span.mce_fullscreen {background-position:-100px -20px}
.modernSkin span.mce_iespell {background-position:-120px -20px}
.modernSkin span.mce_insertdate {background-position:-140px -20px}
.modernSkin span.mce_inserttime {background-position:-160px -20px}
.modernSkin span.mce_absolute {background-position:-180px -20px}
.modernSkin span.mce_backward {background-position:-200px -20px}
.modernSkin span.mce_forward {background-position:-220px -20px}
.modernSkin span.mce_insert_layer {background-position:-240px -20px}
.modernSkin span.mce_insertlayer {background-position:-260px -20px}
.modernSkin span.mce_movebackward {background-position:-280px -20px}
.modernSkin span.mce_moveforward {background-position:-300px -20px}
.modernSkin span.mce_media {background-position:-320px -20px}
.modernSkin span.mce_nonbreaking {background-position:-340px -20px}
.modernSkin span.mce_pastetext {background-position:-360px -20px}
.modernSkin span.mce_pasteword {background-position:-380px -20px}
.modernSkin span.mce_selectall {background-position:-400px -20px}
.modernSkin span.mce_preview {background-position:-420px -20px}
.modernSkin span.mce_print {background-position:-440px -20px}
.modernSkin span.mce_cancel {background-position:-460px -20px}
.modernSkin span.mce_save {background-position:-480px -20px}
.modernSkin span.mce_replace {background-position:-500px -20px}
.modernSkin span.mce_search {background-position:-520px -20px}
.modernSkin span.mce_styleprops {background-position:-560px -20px}
.modernSkin span.mce_table {background-position:-580px -20px}
.modernSkin span.mce_cell_props {background-position:-600px -20px}
.modernSkin span.mce_delete_table {background-position:-620px -20px}
.modernSkin span.mce_delete_col {background-position:-640px -20px}
.modernSkin span.mce_delete_row {background-position:-660px -20px}
.modernSkin span.mce_col_after {background-position:-680px -20px}
.modernSkin span.mce_col_before {background-position:-700px -20px}
.modernSkin span.mce_row_after {background-position:-720px -20px}
.modernSkin span.mce_row_before {background-position:-740px -20px}
.modernSkin span.mce_merge_cells {background-position:-760px -20px}
.modernSkin span.mce_table_props {background-position:-980px -20px}
.modernSkin span.mce_row_props {background-position:-780px -20px}
.modernSkin span.mce_split_cells {background-position:-800px -20px}
.modernSkin span.mce_template {background-position:-820px -20px}
.modernSkin span.mce_visualchars {background-position:-840px -20px}
.modernSkin span.mce_abbr {background-position:-860px -20px}
.modernSkin span.mce_acronym {background-position:-880px -20px}
.modernSkin span.mce_attribs {background-position:-900px -20px}
.modernSkin span.mce_cite {background-position:-920px -20px}
.modernSkin span.mce_del {background-position:-940px -20px}
.modernSkin span.mce_ins {background-position:-960px -20px}
.modernSkin span.mce_pagebreak {background-position:0 -40px}
.modernSkin .mce_spellchecker span.mceAction {background-position:-540px -20px}

/* border */
.modernSkin .mceExternalToolbar, 
.modernSkin .mceButton, 
.modernSkin a.mceButtonEnabled:hover, 
.modernSkin a.mceButtonActive, 
.modernSkin a.mceButtonSelected, 
.modernSkin .mceListBox .mceText, 
.modernSkin .mceListBox .mceOpen, 
.modernSkin table.mceListBoxEnabled:hover .mceText, 
.modernSkin .mceListBoxHover .mceText, 
.modernSkin .mceListBoxSelected .mceText, 
.modernSkin table.mceListBoxEnabled:hover .mceOpen, 
.modernSkin .mceListBoxHover .mceOpen, 
.modernSkin .mceListBoxSelected .mceOpen, 
.modernSkin select.mceListBox, 
.modernSkin .mceSplitButton a.mceAction, 
.modernSkin .mceSplitButton a.mceOpen,
.modernSkin .mceSplitButton a.mceOpen:hover, 
.modernSkin .mceSplitButtonSelected a.mceOpen, 
.modernSkin table.mceSplitButtonEnabled:hover a.mceAction, 
.modernSkin .mceSplitButton a.mceAction:hover, 
.modernSkin div.mceColorSplitMenu table, 
.modernSkin .mceColorSplitMenu a, 
.modernSkin .mceColorSplitMenu a.mceMoreColors, 
.modernSkin .mceColorSplitMenu a.mceMoreColors:hover, 
.modernSkin a.mceMoreColors:hover, 
.modernSkin .mceMenu {border-style: solid; border-width: 1px;}

.mceItemTable, .mceItemTable td, .mceItemTable th, .mceItemTable caption, .mceItemVisualAid {border: 1px dashed #BBB;}
.modernSkin *, .modernSkin a:hover, .modernSkin a:link, .modernSkin a:visited, .modernSkin a:active { color: #000;}

/* Containers */
.modernSkin iframe {background: #fff;}

/* Layout */
.modernSkin .mceStatusbar {color: #000;background-color: #f5f5f5;}

/* Button */
.modernSkin .mceButton {background-color: #e9e8e8;border-color: #B2B2B2;}
.modernSkin a.mceButtonEnabled:hover,
.modernSkin a.mceButtonActive,
.modernSkin a.mceButtonSelected {background-color: #d5d5d5;border-color: #777 !important;}
.modernSkin .mceButtonDisabled {border-color: #ccc !important;}

/* ListBox */
.modernSkin .mceListBox .mceText,
.modernSkin .mceListBox .mceOpen  {border-color: #B2B2B2;background-color: #d5d5d5;}
.modernSkin table.mceListBoxEnabled:hover .mceOpen,
.modernSkin .mceListBoxHover .mceOpen,
.modernSkin .mceListBoxSelected .mceOpen,
.modernSkin .mceListBoxSelected .mceText {border-color: #777 !important;background-color: #d5d5d5;}
.modernSkin table.mceListBoxEnabled:hover .mceText,
.modernSkin .mceListBoxHover .mceText {border-color: #777 !important;}
.modernSkin select.mceListBox {border-color: #B2B2B2;background-color: #fff;}

/* SplitButton */
.modernSkin .mceSplitButton a.mceAction,
.modernSkin .mceSplitButton a.mceOpen {border-color: #B2B2B2;}
.modernSkin .mceSplitButton a.mceOpen:hover,
.modernSkin .mceSplitButtonSelected a.mceOpen,
.modernSkin table.mceSplitButtonEnabled:hover a.mceAction,
.modernSkin .mceSplitButton a.mceAction:hover {background-color: #d5d5d5;border-color: #777 !important;}
.modernSkin .mceSplitButtonActive {background-color: #B2B2B2;}

/* ColorSplitButton */
.modernSkin div.mceColorSplitMenu table {background-color: #ebebeb;border-color: #B2B2B2;}
.modernSkin .mceColorSplitMenu a {border-color: #B2B2B2;}
.modernSkin .mceColorSplitMenu a.mceMoreColors {border-color: #fff;}
.modernSkin .mceColorSplitMenu a.mceMoreColors:hover {border-color: #0A246A;background-color: #B6BDD2;}
.modernSkin a.mceMoreColors:hover {border-color: #0A246A;}

/* Menu */
.modernSkin .mceMenu {border-color: #ddd;}
.modernSkin .mceMenu table {background-color: #ebeaeb;}
.modernSkin .mceMenu .mceText {color: #000;}
.modernSkin .mceMenu .mceMenuItemEnabled a:hover,
.modernSkin .mceMenu .mceMenuItemActive {background-color: #f5f5f5;}
.modernSkin td.mceMenuItemSeparator {background-color: #aaa;}
.modernSkin .mceMenuItemTitle a {background-color: #ccc;border-bottom-color: #aaa;}
.modernSkin .mceMenuItemTitle span.mceText {color: #000;}
.modernSkin .mceMenuItemDisabled .mceText {color: #888;}
.modernSkin tr.mceFirst td.mceToolbar {background: #dfdfdf url(img/ed-bg.gif) repeat-x scroll left top;border-color: #dfdfdf;}

#mceModalBlocker {background: #000;}

.modernSkin .mceButton, .modernSkin .mceListBox .mceOpen span, .modernSkin .mceListBox .mceOpen {  }
.modernSkin .mceListBox .mceOpen {  }
.modernSkin .mceListBox .mceText { }
.modernSkin table.mceLayout {  }
#mce_fullscreen_tbl { margin:0; }
